@model LayoutVM

@{
    ViewData["Title"] = "Login";
}
<div class="login-html">
    <div class="login-register-bod">
        <div class="log-part-modal content">
            <div class="body">
                <form asp-controller="Account" asp-action="Login">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="LoginVM.Username">İstifadəçi Adı</label>
                        <input asp-for="LoginVM.Username" class="form-control" />
                        <span class="text-danger"
                              asp-validation-for="LoginVM.Username"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LoginVM.Password">Parol</label>
                        <input asp-for="LoginVM.Password" class="form-control" />
                        <span class="text-danger"
                              asp-validation-for="LoginVM.Password"></span>
                    </div>
                    <div class="form-group form-check">
                        <input asp-for="LoginVM.IsStore"
                               type="checkbox"
                               class="form-check-input" />
                        <label asp-for="LoginVM.IsStore" class="form-check-label">Yadda saxla</label>
                    </div>
                    <button type="submit" class="btn btn-success">Daxil ol</button>
                </form>
                <div class="reg-forgot">
                    <button type="button">Parolu unutmusan?</button>
                    <button type="button" class="switch-reg" onclick="SwitchToReg()">
                        Qeydiyyatdan Keç
                    </button>
                </div>
                <div class="login-soc">
                    <a href=""> <i class="fab fa-facebook-f"></i></a>
                    <a href=""> <i class="fab fa-google"></i></a>
                    <a href=""> <i class="fab fa-vk"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}