
@{
    ViewData["Title"] = "About";
}

<!-- *-*-*-*-*-*-*-*-*      About Start      *-*-*-*-*-*-*-*-* -->
<section id="About">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5 text-center">
                <h1 class="anouncement-title mb-5">Haqqımızda (Amazing Duo)</h1>
                @*<hr class="divider" />*@
            </div>
            <div class="col-12">
                <div class="about">
                    <div class="row align-items-start">
                        <div class="col-lg-7">
                            <div class="about-page-img">
                                <img src="~/src/img/layout/clipart2798813.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            @*<div class="amazing">
                                Amazing Duo
                            </div>*@
                            <div class="about-path">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           id="P4000-tab"
                                           data-toggle="tab"
                                           href="#P4000"
                                           role="tab"
                                           aria-controls="P4000"
                                           aria-selected="true">P4000</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"
                                           id="Jrc-tab"
                                           data-toggle="tab"
                                           href="#Jrc"
                                           role="tab"
                                           aria-controls="Jrc"
                                           aria-selected="false">JrC</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active"
                                         id="P4000"
                                         role="tabpanel"
                                         aria-labelledby="P4000-tab">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-7">
                                                        <div class="about-name">Elgun Maqsudzadə</div>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="contact">
                                                            <div class="icon-holder">
                                                                <a href="https://github.com/ElgunMaqsudzade">
                                                                    <i class="fab fa-github-square"></i>
                                                                </a>
                                                            </div>
                                                            <div class="img-icon-holder">
                                                                <a href="mailto: elgunvm@code.edu.az">
                                                                    <img class="img-fluid"
                                                                         src="~/src/img/logo/gmail.svg"
                                                                         alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="icon-holder">
                                                                <a href="https://wa.me/994558835613">
                                                                    <i class="fab fa-whatsapp-square"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="about-name-divider" />
                                            </div>

                                            <div class="col-12">
                                                <div class="about-text">Age : 21</div>
                                                <div class="about-text">
                                                    Phone : +994558835613
                                                </div>
                                                <div class="about-text">
                                                    Email : elgunvm@code.edu.az
                                                </div>
                                                <div class="about-text">
                                                    Profession : Middle Full Stack developer
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="Jrc"
                                         role="tabpanel"
                                         aria-labelledby="Jrc-tab">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-7">
                                                        <div class="about-name">Nəbiyev Kamran</div>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="contact">
                                                            <div class="icon-holder">
                                                                <a href="https://github.com/JrComerun">
                                                                    <i class="fab fa-github-square"></i>
                                                                </a>
                                                            </div>
                                                            <div class="img-icon-holder">
                                                                <a href="mailto: kamranfn@code.edu.az">
                                                                    <img class="img-fluid"
                                                                         src="~/src/img/logo/gmail.svg"
                                                                         alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="icon-holder">
                                                                <a href="https://wa.me/994506804400">
                                                                    <i class="fab fa-whatsapp-square"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="about-name-divider" />
                                            </div>

                                            <div class="col-12">
                                                <div class="about-text">Age : 27</div>
                                                <div class="about-text">
                                                    Phone : +994506804400
                                                </div>
                                                <div class="about-text">
                                                    Email : kamranfn@code.edu.az
                                                </div>
                                                <div class="about-text">
                                                    Profession : Middle Full Stack developer
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *-*-*-*-*-*-*-*-*      About End      *-*-*-*-*-*-*-*-* -->
<!-- ---------------------------------------------------------- -->

@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}

