
header {
  background: none !important;
  height: max-content !important;
  background-color: $dark !important;
  &::after {
    z-index: -1;
    height: max-content !important;
  }
  .header-content{
      display: none !important;
  }
  .header-content-second {
    display: none !important;
  }
}
