@model LayoutVM

@{
    ViewData["Title"] = "Register";
}

<div class="login-html">
    <div class="login-register-body">
        <div class="log-part-modal content">
            <div class="body">
                <form asp-controller="Account" asp-action="Register">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        <div class="col-6 mob-col-12">
                            <div class="form-group">
                                <label asp-for="RegisterVM.Name">Ad</label>
                                <input asp-for="RegisterVM.Name" class="form-control" />
                                <span class="text-danger" asp-validation-for="RegisterVM.Name"></span>
                            </div>
                        </div>
                        <div class="col-6 mob-col-12">
                            <div class="form-group">
                                <label asp-for="RegisterVM.Surname">Soyad</label>
                                <input asp-for="RegisterVM.Surname" class="form-control" />
                                <span class="text-danger" asp-validation-for="RegisterVM.Surname"></span>
                            </div>
                        </div>
                        <div class="col-6 mob-col-12">
                            <div class="form-group">
                                <label asp-for="RegisterVM.Username">İstifadəçi Adı</label>
                                <input asp-for="RegisterVM.Username" class="form-control" />
                                <span class="text-danger" asp-validation-for="RegisterVM.Username"></span>
                            </div>
                        </div>
                        <div class="col-6 mob-col-12">
                            <div class="form-group">
                                <label asp-for="RegisterVM.Email">Email</label>
                                <input asp-for="RegisterVM.Email" class="form-control" />
                                <span class="text-danger" asp-validation-for="RegisterVM.Email"></span>
                            </div>
                        </div>
                        <div class="col-6 mob-col-12">
                            <div class="form-group">
                                <label asp-for="RegisterVM.Password">Parol</label>
                                <input asp-for="RegisterVM.Password" class="form-control" />
                                <span class="text-danger" asp-validation-for="RegisterVM.Password"></span>
                            </div>
                        </div>
                        <div class="col-6 mob-col-12">
                            <div class="form-group">
                                <label asp-for="RegisterVM.CheckPassword">Tekrar Parol</label>
                                <input asp-for="RegisterVM.CheckPassword" class="form-control" />
                                <span class="text-danger" asp-validation-for="RegisterVM.CheckPassword"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mt-5">Qeydiyyatdan Keç</button>
                </form>
                <div class="reg-forgot">
                    <a class="pr-3" asp-controller="Account" asp-action="EmailForResetPassword">Parolu unutmusan?</a>
                    <a asp-controller="Account" asp-action="Login">
                        Daxil ol
                    </a>
                </div>
                @*<div class="login-soc">
                    <a href=""> <i class="fab fa-facebook-f"></i></a>
                    <a href=""> <i class="fab fa-google"></i></a>
                    <a href=""> <i class="fab fa-vk"></i></a>
                </div>*@
            </div>
        </div>

    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}

