
@{
    Layout = null;
}

<div class="select-holder">
    <a style="cursor: pointer" class="selected">
        <i class="fas fa-bookmark"></i>
    </a>
    <div class="selected-box">
        <a href="">See Your Bookmarks</a>
    </div>
</div>
