@media only screen and (max-width: 1200px) {
  header {
    .header-bar {
      .container-fluid {
        .row {
          .header-bar-left.none {
            display: none !important;
          }
          .header-bar-center {
            flex: 0 0 33%;
            max-width: 33%;
          }
          .header-bar-right {
            flex: 0 0 66%;
            max-width: 66%;
          }
        }
      }
    }
    nav {
      .navigation {
        display: none !important;
      }
      .button-nav {
        display: block;
      }
    }
    nav.nav-scrool {
      height: 60px !important;
      .navbar-brand {
        width: 280px;
        .page-name {
          font-size: 18px;
          padding-right: 0px;
        }
      }
      .button-nav {
        color: $dark;
      }
    }
    .nav-mobile {
      // z-index: -1;
      display: block;
      width: 280px;
      height: 100vh;
      background: rgba(2, 0, 11, 0.92);
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100000000000000000000;
      transform: translateX(100%);
      font-weight: 600;
      font-size: 18px;
      padding: 3rem 3rem 3.6rem 3.6rem;
      .nav-close-btn {
        margin-bottom: 14px;
        .close-btn {
          font-size: 30px;
        }
      }
      .languages-bar {
        margin-bottom: 20px;
        font-size: 13px;
        .lang {
          span {
            margin-left: 5px;
          }
          margin-right: 20px;
        }
      }
      .login {
        margin-bottom: 60px;
        a {
          padding: 0 10px;
          border-right: 2px solid $light;
          border-left: 2px solid $light;
        }
      }
      .navigation {
        margin-bottom: 80px;
        .nav-link2 {
          font-size: 20px;
          border-bottom: 2px solid $light;
        }
      }
      .icons-soc {
        .menu {
          padding: 0px;
          display: flex;
          justify-content: center;
          li {
            list-style: none;
            a {
              color: $light;
              display: block;
              position: relative;
              overflow: hidden;
              span {
                transition: transform 0.2s ease-out;
                &:last-child {
                  display: inline-block;
                  padding: 0px 10px;
                  font-size: 22px;
                }
                &:first-child {
                  font-weight: 550;
                  font-size: 15px;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  transform: translateX(-150%);
                }
                .fa-instagram-square {
                  color: $instagram;
                }
                .fa-facebook-square {
                  color: $facebook;
                }
                .fa-twitter-square {
                  color: $twitter;
                }
              }
              &:hover {
                width: 82px;
                span {
                  &:last-child {
                    transform: translateX(200%);
                  }
                }
                span {
                  &:first-child {
                    transform: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .nav-mobile2 {
      display: none !important;
    }
  }
  footer {
    .partners {
      display: none !important;
    }
  }
}
