
@{
    ViewData["Title"] = "Books";
}

<!-- *-*-*-*-*-*-*-*-*      Categories Start      *-*-*-*-*-*-*-*-* -->
<section id="Categories">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="categories">
                    <div class="col-4 category">
                        <div class="main-category">
                            <img src="~/src/img/categories/roman.png" alt="" />
                            <div class="text">Əsər və Roman</div>
                        </div>
                        <div class="childCategories">
                            <div class="row">
                                <div class="col-12">
                                    <a href="">
                                        <div class="all">Bütün Elanlar (1500)</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Fantastika (12000)</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəyali Dunya (15500)</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Qorxu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəfiyyə</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Həyəcan Dolu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Drama</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Sevgi</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Digər</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 category">
                        <div class="main-category">
                            <img src="~/src/img/categories/science.png" alt="" />
                            <div class="text">Elmi</div>
                        </div>
                        <div class="childCategories">
                            <div class="row">
                                <div class="col-12">
                                    <a href="">
                                        <div class="all">Bütün Elanlar (1500)</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Ali Fizika</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Tibbi</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Kosmos</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Digər</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 category">
                        <div class="main-category">
                            <img src="~/src/img/categories/journey.png" alt="" />
                            <div class="text">Dunya Səyahəti</div>
                        </div>
                        <div class="childCategories">
                            <div class="row">
                                <div class="col-12">
                                    <a href="">
                                        <div class="all">Bütün Elanlar (1500)</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Fantastika</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəyali Dunya</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Qorxu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəfiyyə</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Həyəcan Dolu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Drama</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Sevgi</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Digər</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 category">
                        <div class="main-category">
                            <img src="~/src/img/categories/childBook.png" alt="" />
                            <div class="text">Uşaq Kitabları</div>
                        </div>
                        <div class="childCategories">
                            <div class="row">
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Fantastika</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəyali Dunya</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Qorxu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəfiyyə</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Həyəcan Dolu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Drama</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Sevgi</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Digər</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 category">
                        <div class="main-category">
                            <img src="~/src/img/categories/biography.png" alt="" />
                            <div class="text">Həyat Hekayəsi</div>
                        </div>
                        <div class="childCategories">
                            <div class="row">
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Fantastika</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəyali Dunya</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Qorxu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəfiyyə</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Həyəcan Dolu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Drama</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Sevgi</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Digər</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 category">
                        <div class="main-category">
                            <img src="~/src/img/categories/search.png" alt="" />
                            <div class="text">Bilgi və Araşdırma</div>
                        </div>
                        <div class="childCategories">
                            <div class="row">
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Fantastika</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəyali Dunya</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Qorxu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəfiyyə</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Həyəcan Dolu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Drama</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Sevgi</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Digər</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 category">
                        <div class="main-category">
                            <img src="~/src/img/categories/studying.png" alt="" />
                            <div class="text">Dərslik</div>
                        </div>
                        <div class="childCategories">
                            <div class="row">
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Fantastika</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəyali Dunya</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Qorxu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəfiyyə</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Həyəcan Dolu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Drama</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Sevgi</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Digər</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 category">
                        <div class="main-category">
                            <img src="~/src/img/categories/music.png" alt="" />
                            <div class="text">Musiqi</div>
                        </div>
                        <div class="childCategories">
                            <div class="row">
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Fantastika</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəyali Dunya</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Qorxu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəfiyyə</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Həyəcan Dolu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Drama</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Sevgi</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Digər</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 category">
                        <div class="main-category">
                            <img src="~/src/img/categories/lit.png" alt="" />
                            <div class="text">Ədəbiyyat Şeir</div>
                        </div>
                        <div class="childCategories">
                            <div class="row">
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Fantastika</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəyali Dunya</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Qorxu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəfiyyə</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Həyəcan Dolu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Drama</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Sevgi</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Digər</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 category">
                        <div class="main-category">
                            <img src="~/src/img/categories/other.png" alt="" />
                            <div class="text">Digər</div>
                        </div>
                        <div class="childCategories">
                            <div class="row">
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Fantastika</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəyali Dunya</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Qorxu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Xəfiyyə</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Həyəcan Dolu</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Drama</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Sevgi</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="">
                                        <div class="child">Digər</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *-*-*-*-*-*-*-*-*      Categories End      *-*-*-*-*-*-*-*-* -->
<!-- ---------------------------------------------------------- -->
<!-- *-*-*-*-*-*-*-*-*      Last Books Start      *-*-*-*-*-*-*-*-* -->
<section id="Books">
    <div class="container pad-top80">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <div class="section-head">
                    <h1>Kitablar</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- ---------------------     Book    --------------------- -->
            <div class="col-lg-3 col-6 d-flex align-items-center book-desk">
                <div class="book">
                    <div class="book-img">
                        <img src="~/src/img/books/book-2-1.jpg" alt="" />
                        <div class="book-price">5azn</div>
                    </div>
                    <div class="book-content">
                        <div class="book-content-head">
                            <a href="#">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="">
                                <i class="far fa-bookmark"></i>
                            </a>
                        </div>
                        <div class="book-content-body">
                            <a href="">
                                <div class="book-name">Toefl Grammer</div>
                            </a>
                            <div class="book-author">Müəllif : Jr Comerun</div>
                            <div class="book-lang book-author">Dil : Azərbaycan</div>
                        </div>
                        <div class="book-content-footer">
                            <div class="book-watch">
                                <a href="index.html"> Ətraflı bax </a>
                            </div>
                            <a href="index.html">
                                <div class="book-saler-img">
                                    <img src="~/src/img/thanks/Kamran_Jabiyev.jpg" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ---------------------------------------------------------- -->
            <!-- ---------------------     Book    --------------------- -->
            <div class="col-lg-3 col-6 d-flex align-items-center book-desk">
                <div class="book">
                    <div class="book-img">
                        <img src="~/src/img/books/book-1-1.jpg" alt="" />
                        <div class="book-price">5azn</div>
                    </div>
                    <div class="book-content">
                        <div class="book-content-head">
                            <a href="#">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="">
                                <i class="far fa-bookmark"></i>
                            </a>
                        </div>
                        <div class="book-content-body">
                            <a href="">
                                <div class="book-name">Toefl Grammer</div>
                            </a>
                            <div class="book-author">Müəllif : Jr Comerun</div>
                        </div>
                        <div class="book-content-footer">
                            <div class="book-watch">
                                <a href="index.html"> Ətraflı bax </a>
                            </div>
                            <a href="index.html">
                                <div class="book-saler-img">
                                    <img src="~/src/img/thanks/Kamran_Jabiyev.jpg" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ---------------------------------------------------------- -->
            <!-- ---------------------     Book    --------------------- -->
            <div class="col-lg-3 col-6 d-flex align-items-center book-desk">
                <div class="book">
                    <div class="book-img">
                        <img src="~/src/img/books/book-4-1.jpg" alt="" />
                        <div class="book-price">5azn</div>
                    </div>
                    <div class="book-content">
                        <div class="book-content-head">
                            <a href="#">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="">
                                <i class="far fa-bookmark"></i>
                            </a>
                        </div>
                        <div class="book-content-body">
                            <a href="">
                                <div class="book-name">Toefl Grammer</div>
                            </a>
                            <div class="book-author">Müəllif : Jr Comerun</div>
                        </div>
                        <div class="book-content-footer">
                            <div class="book-watch">
                                <a href="index.html"> Ətraflı bax </a>
                            </div>
                            <a href="index.html">
                                <div class="book-saler-img">
                                    <img src="~/src/img/thanks/Kamran_Jabiyev.jpg" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ---------------------------------------------------------- -->
            <!-- ---------------------     Book    --------------------- -->
            <div class="col-lg-3 col-6 d-flex align-items-center book-desk">
                <div class="book">
                    <div class="book-img">
                        <img src="~/src/img/books/book-3-1.jpg" alt="" />
                        <div class="book-price">5azn</div>
                    </div>
                    <div class="book-content">
                        <div class="book-content-head">
                            <a href="#">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="">
                                <i class="far fa-bookmark"></i>
                            </a>
                        </div>
                        <div class="book-content-body">
                            <a href="">
                                <div class="book-name">Toefl Grammer</div>
                            </a>
                            <div class="book-author">Müəllif : Jr Comerun</div>
                        </div>
                        <div class="book-content-footer">
                            <div class="book-watch">
                                <a href="index.html"> Ətraflı bax </a>
                            </div>
                            <a href="index.html">
                                <div class="book-saler-img">
                                    <img src="~/src/img/thanks/Kamran_Jabiyev.jpg" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ---------------------------------------------------------- -->
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center my-5 loadMore">
                <a href="">Dahasına Bax</a>
            </div>
        </div>
    </div>
</section>
<!-- *-*-*-*-*-*-*-*-*      Last Books End      *-*-*-*-*-*-*-*-* -->
<!-- ---------------------------------------------------------- -->

@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}
@section SelectHolder1{
    <partial name="_SelectHolder1" />
}
@section SelectHolder2{
    <partial name="_SelectHolder2" />
}