
@{
    Layout = null;
}
@if (User.Identity.IsAuthenticated)
{
    <div class="select-holder">
        <a  class="selected">
            <i class="fas fa-bookmark"></i>
        </a>
        <div class="selected-box">
            <a asp-controller="Profile" asp-action="Index" asp-route-username="@User.Identity.Name" asp-route-active="Bookmark">Seçdiyin kitablara bax</a>
        </div>
    </div>
}
else
{
    <div class="select-holder">
        <a  class="selected">
            <i class="fas fa-bookmark"></i>
        </a>
        <div class="selected-box">
            <a data-toggle="modal" data-target="#Login-Reg" onclick="SwitchToLog()">Seçdiyin kitablara bax</a>
        </div>
    </div>
}

