@{
    ViewData["Title"] = "Index";
}

<!-- ---------------------------------------------------------- -->
<!-- *-*-*-*-*-*-*-*-*      Most Viewed Start      *-*-*-*-*-*-*-*-* -->
<section id="Most-Viewed">
    <div class="container pad-top80">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <div class="section-head">
                    <h1>Çox Baxılan Kitablar</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @await Component.InvokeAsync("Books", new { take = 4, isActive = true, order="ViewCount",view="3d" });
        </div>
    </div>
</section>
<!-- *-*-*-*-*-*-*-*-*      Most Viewed End      *-*-*-*-*-*-*-*-* -->
<!-- ---------------------------------------------------------- -->
<!-- *-*-*-*-*-*-*-*-*      Last Books Start      *-*-*-*-*-*-*-*-* -->
<section id="Last">
    <div class="container pad-top80">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <div class="section-head">
                    <h1>Son Yerləşdirilən Kitablar</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @await Component.InvokeAsync("Books", new { take = 8, isActive = true, order = "Id", view = "classic" });
        </div>
    </div>
</section>
<!-- *-*-*-*-*-*-*-*-*      Last Books End      *-*-*-*-*-*-*-*-* -->
<!-- ---------------------------------------------------------- -->

@section SelectHolder1{
    <partial name="_SelectHolder1" />
}
@section SelectHolder2{
    <partial name="_SelectHolder2" />
}