body {
  margin: 0;
  color: #110825;
  background-color: #dddada;
  font-family: "Roboto", sans-serif !important;
}

body ::selection {
  color: #dddada;
  background: #110825;
}

button:focus {
  outline: none;
}

select:focus {
  outline: none;
}

a {
  text-decoration: none !important;
  color: #dddada !important;
}

.pad-top80 {
  padding-top: 80px;
}

.loadMore a {
  border: none;
  color: #dddada;
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px 15px 10px 15px;
  z-index: 5;
  font-weight: 500;
  background: #861703;
  position: relative;
  overflow: hidden;
}

.loadMore a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 2px;
  border-color: transparent transparent transparent #dddada;
  border-width: 18px 0 0 18px;
  width: 0;
  height: 0;
  border-style: solid;
}

.loadMore a::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  border-color: transparent #dddada transparent transparent;
  border-width: 0 18px 18px 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes move {
  0% {
    transform: translateY(0) scaleY(0.9);
  }
  100% {
    transform: translateY(-100px) scaleY(1.1);
  }
}

#Pre-JrC {
  color: #dddada;
  font-size: 24px !important;
}

@media only screen and (max-width: 350px) {
  #Pre-JrC {
    font-size: 18px !important;
  }
}

.preloader {
  position: relative;
  animation: move .5s ease infinite alternate;
}

@keyframes spin {
  0% {
    transform: rotateX(-15deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-15deg) rotateY(180deg);
  }
}

.diamond {
  position: relative;
  width: 60px;
  height: 60px;
  transform-style: preserve-3d;
  transform-origin: center center;
  animation: spin 1s linear infinite;
}

.diamond span:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 4px solid gold;
  transform: rotateX(90deg) rotateZ(45deg);
}

.diamond span:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 4px solid gold;
  transform: rotateX(90deg) rotateY(90deg) rotateZ(45deg);
}

.diamond span:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 4px solid gold;
  transform: rotateZ(45deg);
}

.movement {
  position: relative;
  width: 60px;
  height: 60px;
}

@keyframes falloff {
  0% {
    top: 30px;
    height: 0px;
    opacity: 0;
  }
  50% {
    top: 0;
    height: 30px;
    opacity: 1;
  }
  100% {
    top: 0;
    height: 0px;
    opacity: 0;
  }
}

.movement span:first-of-type {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 30px;
  border-radius: 4px;
  background-color: #dddada;
  opacity: 0;
  animation: falloff 1s ease infinite;
}

@keyframes falloff-2 {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: 20px;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}

.movement span:first-of-type::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 4px;
  height: 20px;
  border-radius: 4px;
  background-color: #dddada;
  opacity: 0;
  animation: falloff-2 1s ease infinite;
}

@keyframes falloff-3 {
  0% {
    top: 40px;
    height: 0px;
    opacity: 0;
  }
  50% {
    top: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    top: 20px;
    height: 0px;
    opacity: 0;
  }
}

.movement span:nth-of-type(2) {
  position: absolute;
  top: 20px;
  left: calc(50% - 2px);
  width: 4px;
  height: 20px;
  border-radius: 4px;
  background-color: #dddada;
  opacity: 0;
  animation: falloff-3 1s ease infinite;
}

@keyframes falloff-4 {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: 40px;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}

.movement span:nth-of-type(2)::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 40px;
  border-radius: 4px;
  background-color: #dddada;
  opacity: 0;
  animation: falloff-4 1s ease infinite;
}

@keyframes falloff-5 {
  0% {
    top: 30px;
    height: 0px;
    opacity: 0;
  }
  50% {
    top: 0;
    height: 30px;
    opacity: 1;
  }
  100% {
    top: 0;
    height: 0px;
    opacity: 0;
  }
}

.movement span:last-of-type {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 30px;
  border-radius: 4px;
  background-color: #dddada;
  opacity: 0;
  animation: falloff-5 1s ease infinite;
}

@keyframes falloff-6 {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: 20px;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}

.movement span:last-of-type::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 4px;
  height: 20px;
  border-radius: 4px;
  background-color: #dddada;
  opacity: 0;
  animation: falloff-6 1s ease infinite;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #dddada;
}

@media only screen and (max-height: 630px) {
  header {
    height: 623px;
  }
}

header::after {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100vh;
  background: rgba(2, 0, 11, 0.75);
}

@media only screen and (max-height: 630px) {
  header::after {
    height: 623px;
  }
}

header .header-bar {
  position: relative;
  z-index: 20;
  border-bottom: 1px solid rgba(228, 228, 228, 0.288);
  overflow: hidden;
}

header .header-bar .header-bar-left.none {
  z-index: 20;
  padding-left: 50px;
  display: flex;
  align-items: baseline;
}

header .header-bar .header-bar-left.none .icons .menu {
  padding: 0px;
  display: flex;
  justify-content: center;
}

header .header-bar .header-bar-left.none .icons .menu li {
  list-style: none;
}

header .header-bar .header-bar-left.none .icons .menu li a {
  color: #dddada;
  display: block;
  position: relative;
  overflow: hidden;
}

header .header-bar .header-bar-left.none .icons .menu li a span {
  transition: transform 0.2s ease-out;
}

header .header-bar .header-bar-left.none .icons .menu li a span:last-child {
  display: inline-block;
  padding: 0px 10px;
  font-size: 22px;
}

header .header-bar .header-bar-left.none .icons .menu li a span:first-child {
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-150%);
}

header .header-bar .header-bar-left.none .icons .menu li a span .fa-instagram-square {
  color: #ff6b6b !important;
}

header .header-bar .header-bar-left.none .icons .menu li a span .fa-facebook-square {
  color: #4267B2 !important;
}

header .header-bar .header-bar-left.none .icons .menu li a span .fa-twitter-square {
  color: #1DA1F2 !important;
}

header .header-bar .header-bar-left.none .icons .menu li a:hover {
  width: 82px;
}

header .header-bar .header-bar-left.none .icons .menu li a:hover span:last-child {
  transform: translateX(200%);
}

header .header-bar .header-bar-left.none .icons .menu li a:hover span:first-child {
  transform: none;
}

header .header-bar .header-bar-center {
  padding-right: 0px;
}

header .header-bar .header-bar-center .header-search {
  height: 100%;
}

header .header-bar .header-bar-center .header-search form .input-group .form-outline {
  width: calc(100% - 40px);
}

header .header-bar .header-bar-center .header-search form .input-group .form-outline input {
  width: 100%;
  height: 40px;
  box-shadow: none;
  border-radius: 0px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

header .header-bar .header-bar-center .header-search form .input-group .form-outline input:visited .header-search form {
  box-shadow: 0 0 0 2px #f90, 0 0 0 3px red !important;
}

header .header-bar .header-bar-center .header-search form .input-group button {
  width: 40px;
  background-color: #861703;
  border-color: #861703;
  box-shadow: none;
}

header .header-bar .header-bar-center .header-search form .input-group button:active {
  box-shadow: none;
}

header .header-bar .header-bar-right {
  padding: 0px;
}

header .header-bar .header-bar-right .cat-1200-992 {
  display: none;
}

header .header-bar .header-bar-right .cat-1200-992 a {
  border: none;
  color: #dddada;
  font-size: 11px;
  font-size: 11px;
  padding: 13px 15px 10px 15px;
  z-index: 5;
  font-weight: 500;
  background: #861703;
  position: relative;
  overflow: hidden;
  margin-right: 11px;
}

header .header-bar .header-bar-right .cat-1200-992 a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 2px;
  border-color: transparent transparent transparent #dddada;
  border-width: 18px 0 0 18px;
  width: 0;
  height: 0;
  border-style: solid;
}

header .header-bar .header-bar-right .cat-1200-992 a::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  border-color: transparent #dddada transparent transparent;
  border-width: 0 18px 18px 0;
  width: 0;
  height: 0;
  border-style: solid;
}

@media only screen and (max-width: 1200px) {
  header .header-bar .header-bar-right .cat-1200-992 {
    display: block !important;
  }
}

header .header-bar .header-bar-right .languages-bar {
  z-index: 20;
  height: 100%;
}

header .header-bar .header-bar-right .languages-bar .lang {
  cursor: pointer;
  color: #dddada;
  font-size: 16px;
  font-weight: 500;
  padding-right: 15px;
  padding-left: 15px;
  height: 100%;
  line-height: 56px;
  border-left: 1px solid rgba(228, 228, 228, 0.288);
  transition: ease 0.4s;
}

header .header-bar .header-bar-right .languages-bar .lang img {
  width: 18px;
}

header .header-bar .header-bar-right .languages-bar .lang:hover {
  color: #a31901;
  transition: ease 0.4s;
}

header .header-bar .header-bar-right .icons {
  height: 100%;
}

header .header-bar .header-bar-right .icons a {
  cursor: pointer;
}

header .header-bar .header-bar-right .icons a .pt-5px {
  padding-top: 5px;
}

header .header-bar .header-bar-right .icons a .nav-link-6 {
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 50px;
  position: relative;
  color: #dddada;
  z-index: 2;
  transition: ease 0.3s;
  border-left: 1px solid rgba(228, 228, 228, 0.288);
  transition: ease 0.4s;
}

header .header-bar .header-bar-right .icons a .nav-link-6:hover {
  color: #a31901;
  transition: ease 0.4s;
}

header .header-bar .header-bar-right .login {
  height: 100%;
}

header .header-bar .header-bar-right .login a {
  cursor: pointer;
}

header .header-bar .header-bar-right .login a .pt-5px {
  padding-top: 5px;
}

header .header-bar .header-bar-right .login a .nav-link-2 {
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 56px;
  position: relative;
  color: #dddada;
  z-index: 2;
  transition: ease 0.3s;
  border-left: 1px solid rgba(228, 228, 228, 0.288);
  transition: ease 0.4s;
}

header .header-bar .header-bar-right .login a .nav-link-2 .fas {
  margin-right: 5px;
  font-size: 15px;
}

header .header-bar .header-bar-right .login a .nav-link-2 .fa-user-plus {
  margin-right: 2px;
  font-size: 15px;
}

header .header-bar .header-bar-right .login a .nav-link-2:hover {
  color: #a31901;
  transition: ease 0.4s;
}

header .header-bar .header-bar-left.show {
  display: none !important;
}

header .header-bar .header-bar-left.show a {
  border: none;
  color: #dddada;
  font-size: 11px;
  padding: 12px 15px 10px 15px;
  z-index: 5;
  font-weight: 500;
  background: #861703;
  position: relative;
  overflow: hidden;
}

header .header-bar .header-bar-left.show a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 2px;
  border-color: transparent transparent transparent #dddada;
  border-width: 18px 0 0 18px;
  width: 0;
  height: 0;
  border-style: solid;
}

header .header-bar .header-bar-left.show a::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  border-color: transparent #dddada transparent transparent;
  border-width: 0 18px 18px 0;
  width: 0;
  height: 0;
  border-style: solid;
}

header nav {
  width: 100%;
  overflow: hidden;
  padding: 0px !important;
  transform: scale(0.8);
  z-index: 22;
  transition: 0.5s;
}

header nav .navbar-brand {
  padding-left: 20px !important;
}

header nav .nav-logo {
  height: 40px;
  margin-right: 10px;
}

header nav .page-name {
  color: #dddada;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  padding-right: 50px;
  transition: ease 0.3s;
}

header nav .page-name .lib {
  font-size: 23px;
}

header nav .page-name:hover {
  color: #a31901;
  transition: ease 0.5s;
}

header nav .button-nav {
  outline: none !important;
  font-size: 23px;
  color: #dddada;
  background-color: transparent;
  width: 100px;
  height: 40px;
  display: none;
  z-index: 10;
  border: none !important;
}

header nav .navigation a {
  margin-right: 45px;
}

header nav .navigation a .nav-link {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  position: relative;
  cursor: pointer;
  color: #dddada;
  z-index: 10000;
  font-weight: 500;
  line-height: 20px;
  height: 100%;
  border-left: 1px solid #dddada;
  border-right: 1px solid #dddada;
}

header nav .navigation a .nav-link:hover {
  border-left: 1px solid #a31901;
  border-right: 1px solid #a31901;
  color: #a31901;
  transition: ease 0.4s;
}

header nav.nav-scroll {
  transform: scale(1) !important;
  box-shadow: 0px 0px 12px -2px black !important;
  border-top: 0px !important;
  top: 0 !important;
  position: fixed !important;
  background-color: #dddada;
  padding: 0px !important;
}

header nav.nav-scroll .page-name {
  font-size: 22px;
}

header nav.nav-scroll .navbar-brand {
  background-color: #110825;
  border-bottom-right-radius: 68px;
  width: 337px;
  height: 100%;
}

header nav.nav-scroll .navbar-brand:hover {
  color: #a31901;
  transition: ease 0.5s;
}

header nav.nav-scroll .navigation a .nav-link {
  color: #110825;
  font-size: 16px;
  border-left: 0px;
  border-right: 0px;
  padding-top: 14px;
}

header nav.nav-scroll .navigation a .nav-link::before {
  content: "";
  background-color: #110825;
  position: absolute;
  width: 45px;
  height: 9px;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  border-top-left-radius: 78px;
  border-top-right-radius: 78px;
}

header nav.nav-scroll .navigation a .nav-link::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 0px;
  top: -21px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #a31901;
  transition: ease 0.3s;
}

header nav.nav-scroll .navigation a .nav-link:hover {
  color: #a31901;
  transition: ease 0.4s;
}

header nav.nav-scroll .navigation a .nav-link:hover::after {
  height: 35px;
  transition: ease 0.4s;
}

header nav.nav-scroll .navigation a .nav-link:hover::before {
  background-color: #a31901;
  transition: ease 0.4s;
}

header .header-content {
  padding-top: 100px;
}

header .header-content .col-6 {
  z-index: 15;
}

header .header-content .col-6 .header-filter {
  width: 430px;
  height: 420px;
  border-radius: 15px;
  text-align: center;
}

header .header-content .col-6 .header-filter form {
  background-color: rgba(180, 180, 180, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 30px;
  padding: 0px 10px;
  font-weight: 500;
  border-radius: 15px;
}

header .header-content .col-6 .header-filter form .label {
  text-align: left;
}

header .header-content .col-6 .header-filter form .anns-head {
  color: #110825;
  height: 36px;
  margin-top: 10px;
}

header .header-content .col-6 .header-filter form .anns-head h3 {
  line-height: 36px;
}

header .header-content .col-6 .header-filter form .select-category .label {
  font-weight: 500;
  font-size: 16px;
  color: #110825;
  line-height: 36px;
  padding: 0px 20px;
}

header .header-content .col-6 .header-filter form .select-category select {
  border-radius: 0px;
  box-shadow: none;
  padding: 0px 20px;
}

header .header-content .col-6 .header-filter form .select-category select option {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

header .header-content .col-6 .header-filter form .select-category select option:hover {
  background-color: #a31901;
}

header .header-content .col-6 .header-filter form .select-category select:focus {
  border: 0px;
}

header .header-content .col-6 .header-filter form .input-div .label {
  font-weight: 500;
  font-size: 16px;
  height: 100%;
  color: #110825;
  line-height: 36px;
  padding: 0px 20px;
}

header .header-content .col-6 .header-filter form .input-div .form-group input {
  padding: 0px 20px;
  height: 36px;
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
  display: inline-block;
  font-size: 15px;
}

header .header-content .col-6 .header-filter form .input-div .form-group input:focus {
  border: 0px;
  outline: none;
}

header .header-content .col-6 .header-filter form .anns-price .form-group {
  width: 100%;
  display: flex;
}

header .header-content .col-6 .header-filter form .anns-price .form-group input {
  border-right: 1px solid #110825;
}

header .header-content .col-6 .header-filter form .anns-button button {
  margin-bottom: 5px;
  border: none;
  color: #dddada;
  font-size: 16px;
  padding: 0.7rem 2.2rem;
  z-index: 5;
  text-transform: uppercase;
  font-weight: 500;
  background: #861703;
  position: relative;
  overflow: hidden;
}

header .header-content .col-6 .header-filter form .anns-button button::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 2px;
  border-color: transparent transparent transparent #dddada;
  border-width: 23px 0 0 23px;
  width: 0;
  height: 0;
  border-style: solid;
}

header .header-content .col-6 .header-filter form .anns-button button::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  border-color: transparent #dddada transparent transparent;
  border-width: 0 23px 23px 0;
  width: 0;
  height: 0;
  border-style: solid;
}

header .header-content .col-6.show {
  z-index: 15;
}

header .header-content .col-6.show .header-add-book a {
  font-size: 15px;
  padding: 0.9rem 1.5rem;
  z-index: 5;
  text-transform: uppercase;
  font-weight: 500;
  background: #861703;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: ease 0.3s;
}

header .header-content .col-6.show .header-add-book a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 2px;
  border-color: transparent transparent transparent #dddada;
  border-width: 23px 0 0 23px;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 2;
}

header .header-content .col-6.show .header-add-book a::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 4px;
  border-color: transparent #dddada transparent transparent;
  border-width: 0 23px 23px 0;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 2;
}

header .header-content-second {
  display: none !important;
}

footer {
  text-transform: uppercase;
  color: #dddada;
  font-weight: 500;
  padding-top: 50px;
  min-height: 410px;
  width: 100% !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 20;
}

footer .thanks-foot {
  z-index: 20;
}

footer .thanks-foot div {
  padding-top: 10px;
  font-size: 13px;
  font-weight: 500;
}

footer .thanks-foot div img {
  border-radius: 15px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-right: 5px;
}

footer .mobile span {
  font-size: 13px;
}

footer .contact {
  z-index: 20;
}

footer .contact div {
  padding-top: 10px;
  font-size: 14px;
}

footer .contact .icons {
  height: 60px;
}

footer .contact .icons .menu {
  padding: 0px;
  display: flex;
  justify-content: center;
}

footer .contact .icons .menu li {
  list-style: none;
}

footer .contact .icons .menu li a {
  color: #dddada;
  display: block;
  position: relative;
  overflow: hidden;
}

footer .contact .icons .menu li a span {
  transition: transform 0.2s ease-out;
}

footer .contact .icons .menu li a span:last-child {
  display: inline-block;
  padding-right: 20px;
  font-size: 30px;
}

footer .contact .icons .menu li a span:first-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-150%);
}

footer .contact .icons .menu li a span .fa-instagram-square {
  color: #ff6b6b;
}

footer .contact .icons .menu li a span .fa-facebook-square {
  color: #4267B2;
}

footer .contact .icons .menu li a span .fa-twitter-square {
  color: #1DA1F2;
}

footer .contact .icons .menu li a:hover {
  width: 82px;
}

footer .contact .icons .menu li a:hover span:last-child {
  transform: translateX(200%);
}

footer .contact .icons .menu li a:hover span:first-child {
  transform: none;
}

footer .footer-logo {
  margin-top: 80px;
}

footer .footer-logo .foot-logo img {
  width: 80px;
}

footer .footer-logo .by-jrc {
  font-size: 18px;
}

footer::after {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  min-height: 410px;
  background: rgba(2, 0, 11, 0.75);
  z-index: -1;
}

.book-desk {
  background-color: transparent;
  height: 300px;
  perspective: 1000;
  transform: perspective(1000px);
  margin-bottom: 50px;
  padding: 0px 25px !important;
}

.book-desk .book {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 14px;
  box-shadow: 0 0px 28px rgba(0, 0, 0, 0.3), 0 6px 10px rgba(0, 0, 0, 0.3);
}

.book-desk .book a {
  color: #110825 !important;
}

.book-desk .book .book-img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 14px;
  z-index: 0;
  border-radius: 14px;
}

.book-desk .book .book-img img {
  width: 100%;
  height: 100%;
  transition: ease 0.4s;
  border-radius: 14px;
}

.book-desk .book .book-img .book-price {
  text-transform: uppercase;
  border-radius: 50%;
  position: absolute;
  height: 40px;
  bottom: 7px;
  right: 7px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  padding: 7px 16px 8px 13px;
  z-index: 1;
  background-color: #861703;
  color: #dddada;
}

.book-desk .book .book-content {
  background-color: #dddada;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  z-index: 1;
  border-radius: 14px;
}

.book-desk .book .book-content .book-content-head {
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: ease 0.4s;
}

.book-desk .book .book-content .book-content-head i {
  cursor: pointer;
  font-size: 24px;
  transition: ease 0.4s;
  color: gray;
}

.book-desk .book .book-content .book-content-head i:hover {
  color: #a31901;
  transition: ease 0.4s;
}

.book-desk .book .book-content .book-content-body {
  padding: 0px 10px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.book-desk .book .book-content .book-content-body .book-name {
  padding-top: 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.book-desk .book .book-content .book-content-body .book-author {
  font-size: 13px;
}

.book-desk .book .book-content .book-content-footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  z-index: 2;
}

.book-desk .book .book-content .book-content-footer .book-watch {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  z-index: 1;
  background-color: #861703;
  padding: 3px 6px;
  border-radius: 32px;
}

.book-desk .book .book-content .book-content-footer .book-watch a {
  color: #dddada !important;
}

.book-desk .book .book-content .book-content-footer .book-saler-img {
  display: flex;
  justify-content: center;
}

.book-desk .book .book-content .book-content-footer .book-saler-img img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px #dddada solid;
  object-fit: cover;
}

.book-desk:hover .book {
  transform: rotateY(180deg);
}

@media only screen and (max-width: 1200px) {
  .book-desk {
    padding: 0px 15px !important;
    margin-bottom: 30px !important;
  }
}

@media only screen and (max-width: 992px) {
  .book-desk {
    padding: 0px 55px !important;
  }
}

@media only screen and (max-width: 767px) {
  .book-desk {
    padding: 0px 15px !important;
  }
}

@media only screen and (max-width: 576px) {
  .book-desk {
    padding: 0px 8px !important;
    margin-bottom: 16px !important;
    height: 260px;
  }
  .book-desk .book-name {
    font-size: 13px !important;
  }
  .book-desk .book-price {
    height: 37px !important;
    font-size: 16px !important;
    padding: 7px 12px 4px 10px !important;
  }
}

@media only screen and (max-width: 350px) {
  .book-desk {
    padding: 0px 5px !important;
    margin-bottom: 10px !important;
    height: 200px;
  }
  .book-desk .book-content .book-content-head i {
    font-size: 18px !important;
  }
  .book-desk .book-content .book-content-body {
    padding: 5px !important;
  }
  .book-desk .book-content .book-content-body .book-name {
    font-size: 11px !important;
  }
  .book-desk .book-content .book-content-body .book-author {
    font-size: 11px !important;
  }
  .book-desk .book-content .book-content-footer .book-watch {
    font-size: 11px !important;
  }
  .book-desk .book-price {
    height: 30px !important;
    font-size: 14px !important;
    padding: 5px 8px 4px 8px !important;
  }
}

main #Last {
  border-top: 1px dashed gray;
}

main #eduBooks {
  border-top: 1px dashed gray;
}

.login-modal {
  color: #dddada;
}

.login-modal .modal-dialog {
  max-width: unset !important;
}

.login-modal .modal-dialog .login-register-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal .modal-dialog .login-register-content .login-register-body {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal .modal-dialog .login-register-content .login-register-body .register-part-modal {
  transition: all 0.4s;
  opacity: 0;
  left: 50%;
  position: absolute;
  max-width: 600px;
  transform: translateX(50%);
  height: auto !important;
}

.login-modal .modal-dialog .login-register-content .login-register-body .login-part-modal {
  transition: all 0.4s;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  max-width: 500px;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content {
  background-color: rgba(23, 13, 41, 0.767);
  height: 500px;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body {
  padding-top: 40px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 550;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body form .form-check {
  display: flex;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body form .form-check input {
  width: 15px;
  margin-right: 10px;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body form button {
  margin-bottom: 5px;
  border: none;
  color: #dddada;
  font-size: 14px;
  padding: 0.5rem 2.1rem;
  z-index: 5;
  text-transform: uppercase;
  font-weight: 500;
  background: #861703;
  position: relative;
  overflow: hidden;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body form button::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 1px;
  border-color: transparent transparent transparent #dddada;
  border-width: 20px 0 0 20px;
  width: 0;
  height: 0;
  border-style: solid;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body form button::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  border-color: transparent #dddada transparent transparent;
  border-width: 0 20px 20px 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body .reg-forgot {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body .reg-forgot button {
  color: white;
  background-color: transparent;
  border: none;
  transition: ease 0.4s;
  padding: 0px 12px;
}

@media only screen and (max-width: 350px) {
  .login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body .reg-forgot button {
    padding: 0px 8px !important;
    font-size: 12px !important;
  }
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body .reg-forgot button:hover {
  color: #a31901 !important;
  transition: ease 0.4s;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body .login-soc {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body .login-soc a {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #dddada;
  text-align: center;
  padding: 15px 0px;
  color: #110825 !important;
}

.login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body .login-soc a i {
  font-size: 22px;
}

@media only screen and (max-width: 350px) {
  .login-modal .modal-dialog .login-register-content .login-register-body .modal-content .modal-body .login-soc a {
    width: 40px !important;
    height: 40px !important;
    padding: 9px 0px !important;
  }
}

#Selected {
  display: flex;
  align-items: center;
  position: fixed;
  top: 300px;
  right: 0;
  transform: translateX(400px);
  z-index: 151515;
}

#Selected a {
  width: 52px;
  height: 58px;
  line-height: 58px;
  white-space: nowrap;
  z-index: 666;
  background-color: #110825;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#Selected a i {
  font-size: 30px;
  line-height: 61px;
  color: #dddada;
}

#Selected .selected-box {
  width: 0px;
  background-color: #110825;
  transition: ease 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dddada;
}

#Selected .selected-box a {
  width: 0;
  transition: 0.5s;
  background-color: transparent;
  font-size: 13px !important;
}

#Selected .selected-box.show {
  transition: ease 0.5s;
  width: 150px;
}

@media only screen and (max-width: 1150px) {
  #Selected {
    display: none;
  }
}

.section-head h1 {
  font-weight: 500;
  position: relative;
  margin-bottom: 70px;
}

@media only screen and (max-width: 576px) {
  .section-head h1 {
    font-size: 20px;
  }
}

.section-head h1::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  top: 55px;
  left: 50%;
  background: linear-gradient(90deg, #861703 0%, #413a3a 50%, #05052c 100%);
  transform: translateX(-50%);
}

.book-mob {
  height: 300px;
  margin-bottom: 60px;
  padding: 0px 35px;
}

.book-mob .book {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  transition: 1s;
  perspective: 2000px;
  box-shadow: inset 200px 0px 50px rgba(0, 0, 0, 0.5);
}

.book-mob .book a {
  color: #110825 !important;
}

.book-mob .book .book-img {
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.book-mob .book .book-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: top left;
  transition: 1s;
  z-index: 12;
}

.book-mob .book .book-img .book-price {
  text-transform: uppercase;
  border-radius: 50%;
  position: absolute;
  height: 40px;
  bottom: 7px;
  right: 7px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  padding: 7px 16px 8px 13px;
  z-index: 13;
  background-color: #861703;
  color: #dddada;
  transform-style: preserve-3d;
  transform-origin: top left;
  transition: 1s;
}

.book-mob .book .book-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.book-mob .book .book-content .book-content-head {
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: ease 0.4s;
}

.book-mob .book .book-content .book-content-head i {
  cursor: pointer;
  font-size: 24px;
  transition: ease 0.4s;
  color: gray;
}

.book-mob .book .book-content .book-content-head i:hover {
  color: #a31901;
  transition: ease 0.4s;
}

.book-mob .book .book-content .book-content-body {
  padding: 0px 10px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.book-mob .book .book-content .book-content-body .book-name {
  padding-top: 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.book-mob .book .book-content .book-content-body .book-author {
  font-size: 13px;
}

.book-mob .book .book-content .book-content-footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  z-index: 2;
}

.book-mob .book .book-content .book-content-footer .book-watch {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  z-index: 1;
  background-color: #861703;
  padding: 3px 6px;
  border-radius: 32px;
}

.book-mob .book .book-content .book-content-footer .book-watch a {
  color: #dddada !important;
}

.book-mob .book .book-content .book-content-footer .book-saler-img {
  display: flex;
  justify-content: center;
}

.book-mob .book .book-content .book-content-footer .book-saler-img img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px #dddada solid;
  object-fit: cover;
}

.book-mob .book:hover {
  transform: perspective(2000px) rotate(-4deg);
  box-shadow: inset 20px 0px 50px rgba(0, 0, 0, 0.5);
}

.book-mob .book:hover .book-img img {
  transform: rotateY(-116deg);
}

.book-mob .book:hover .book-img .book-price {
  transform: translateY(-60px);
}

.book-mob .book:hover .book-content {
  z-index: 11;
  transition: 2s;
}

#Profile .profile {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

@media only screen and (max-width: 576px) {
  #Profile .profile {
    flex-direction: column;
    text-align: center;
  }
  #Profile .profile .profile-img {
    margin-bottom: 10px;
  }
}

#Profile .profile .profile-img {
  margin-left: 10px;
}

#Profile .profile .profile-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#Profile .profile .profile-content {
  padding-left: 20px;
  font-weight: 700;
}

#Profile .profile .profile-content .profile-name {
  font-size: 25px;
}

#Profile .profile .profile-content .profile-date {
  font-size: 15px;
}

#Profile .col-12 {
  margin-bottom: 50px;
}

#Profile .col-12 nav {
  margin-bottom: 50px;
}

@media only screen and (max-width: 576px) {
  #Profile .col-12 nav {
    display: flex;
    justify-content: center;
  }
}

#Profile .col-12 nav .nav {
  padding: 8px 0px;
  border-top: 2px solid #861703 !important;
  border-bottom: 2px solid #861703 !important;
}

#Profile .col-12 nav .nav a {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #110825 !important;
  border: none !important;
}

#Profile .col-12 nav .nav a.active {
  background-color: #861703 !important;
  color: #dddada !important;
}

#Profile .col-12 .tab-content .tab-pane .search {
  margin-bottom: 15px;
}

#Profile .col-12 .tab-content .tab-pane .search i {
  font-size: 30px;
  color: #110825 !important;
}

#Categories {
  display: block !important;
  margin-top: 5px;
  padding: 30px 0px 17px 0px;
  background-color: #ebe2cb;
  border-bottom: 1px #999898 solid;
}

#Categories .col-12 {
  z-index: 19;
}

#Categories .col-12 .categories {
  display: flex;
  flex-wrap: wrap;
  color: #110825;
  justify-content: flex-end;
}

#Categories .col-12 .categories .category {
  position: relative;
}

#Categories .col-12 .categories .category .main-category {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 14px;
}

#Categories .col-12 .categories .category .main-category img {
  width: 40px;
  height: 40px;
}

#Categories .col-12 .categories .category .main-category .text {
  font-weight: 700;
  font-size: 16px;
  margin-left: 15px;
  position: relative;
}

#Categories .col-12 .categories .childCategories {
  transition: 0.4s;
  top: 50px;
  position: absolute;
  width: 100%;
  background-color: #110825;
  padding: 10px 10px 10px 20px;
  display: none;
  z-index: 19;
}

#Categories .col-12 .categories .childCategories .col-12 {
  padding: 0;
}

#Categories .col-12 .categories .childCategories .col-12 .all {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddada;
}

#Categories .col-12 .categories .childCategories .col-6 {
  padding: 0;
}

#Categories .col-12 .categories .childCategories .col-6 a {
  color: #dddada !important;
}

#Categories .col-12 .categories .childCategories .col-6 a .child {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 700;
  width: max-content;
  border-bottom: 1px solid #dddada;
}

#Categories .col-12 .categories .childCategories.show {
  display: block;
}

#Categories .col-12 .categories .childCategories.show::after {
  position: absolute;
  content: "";
  top: -11px;
  left: 50px;
  background-color: #110825;
  z-index: 14px;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
}

@media only screen and (max-width: 1200px) {
  #Categories {
    display: none !important;
  }
}

#Filter {
  padding: 30px 0px 17px 0px;
  background-color: #ebe2cb;
  border-bottom: 1px #999898 solid;
}

#Filter form {
  width: 100%;
}

#Filter form label {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  margin: 10px 0px 0px 12px;
}

#Filter form .select-form select {
  display: block;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;
  color: #6e6e6e;
  line-height: 1.3;
  padding: 0.6em 0em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  appearance: none;
  background-color: #fff;
  margin-bottom: 10px;
}

#Filter form .select-form select option {
  font-size: 13px;
  border-radius: 10px;
}

#Filter form .select-form select option:hover {
  background-color: #861703 !important;
}

#Filter form .select-form select:focus {
  border-color: #aaa;
  color: #222;
  outline: none;
}

#Filter form .select-form select:hover {
  border-color: #888;
}

#Filter form .form-group {
  width: 100%;
}

#Filter form .form-group input {
  width: 100%;
  display: block;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 0.5em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  appearance: none;
  background-color: #fff;
}

#Filter form .cost .min-max {
  display: flex;
}

#Filter form .search-btn {
  text-align: right;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  #Filter form .search-btn {
    text-align: center !important;
  }
}

#Filter form .search-btn button {
  margin-top: 11px;
  border: none;
  color: #dddada;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  z-index: 5;
  font-weight: 500;
  background: #861703;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

#Filter form .search-btn button::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 2px;
  border-color: transparent transparent transparent #dddada;
  border-width: 18px 0 0 18px;
  width: 0;
  height: 0;
  border-style: solid;
}

#Filter form .search-btn button::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 3px;
  border-color: transparent #dddada transparent transparent;
  border-width: 0 18px 18px 0;
  width: 0;
  height: 0;
  border-style: solid;
}

@media only screen and (max-width: 1200px) {
  header .header-bar .container-fluid .row .header-bar-left.none {
    display: none !important;
  }
  header .header-bar .container-fluid .row .header-bar-center {
    flex: 0 0 33%;
    max-width: 33%;
  }
  header .header-bar .container-fluid .row .header-bar-right {
    flex: 0 0 66%;
    max-width: 66%;
  }
  header nav .navigation {
    display: none !important;
  }
  header nav .button-nav {
    display: block;
  }
  header nav.nav-scroll {
    height: 60px !important;
  }
  header nav.nav-scroll .navbar-brand {
    width: 280px;
  }
  header nav.nav-scroll .navbar-brand .page-name {
    font-size: 18px;
    padding-right: 0px;
  }
  header nav.nav-scroll .button-nav {
    color: #110825;
  }
  footer .partners {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  header .header-bar {
    height: 60px;
  }
  header .header-bar .container-fluid .row .header-bar-left.show {
    margin-left: 15px;
    padding-top: 10px;
    width: 115px;
    display: flex !important;
  }
  header .header-bar .container-fluid .row .header-bar-center {
    padding-top: 10px;
    flex: 0 0 calc(100% - 130px);
    max-width: calc(100% - 130px);
    padding-right: 5px !important;
  }
  header .header-bar .container-fluid .row .header-bar-right {
    display: none !important;
  }
  header .header-content .col-6.show {
    display: none !important;
  }
  footer {
    min-height: 470px;
    padding-top: 50px;
  }
  footer::after {
    min-height: 470px;
  }
  footer #contact-col {
    order: 2;
  }
  footer #thanks-col {
    order: 1;
  }
  footer #spec-thanks-col {
    order: 3;
  }
  footer #jrc-col {
    order: 4;
  }
  footer .footer-logo {
    margin-top: 0px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: flex-start !important;
  }
  footer .footer-logo img {
    margin-top: 20px;
    margin-left: 70px;
  }
  footer .footer-logo .by-jrc {
    font-size: 13px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  header .header-content .col-6 {
    max-width: 100% !important;
  }
  footer {
    min-height: 760px;
    padding-top: 50px;
  }
  footer::after {
    min-height: 760px;
  }
  footer #contact-col {
    order: 3;
  }
  footer #thanks-col {
    order: 1;
  }
  footer #spec-thanks-col {
    order: 2;
    padding-left: 75px !important;
  }
  footer #jrc-col {
    order: 4;
  }
  footer .col-lg-3 {
    border-bottom: 1px dashed #dddada;
    display: flex;
    justify-content: center;
  }
  footer .footer-logo {
    padding-bottom: 10px;
    align-items: center !important;
  }
  footer .footer-logo img {
    margin-top: 20px;
    margin-left: 8px;
  }
}

@media only screen and (max-width: 576px) {
  header nav .navbar-brand {
    width: 208px !important;
  }
  header nav .navbar-brand .nav-logo {
    width: 40px;
    height: 26px;
  }
  header nav .navbar-brand .page-name {
    font-size: 21px !important;
    padding-right: 0px;
  }
  header nav .button-nav {
    width: 55px;
  }
  header nav.nav-scroll {
    height: 50px !important;
  }
  header nav.nav-scroll .navbar-brand .page-name {
    font-size: 14px !important;
    padding-right: 0px;
  }
  header .header-content .col-6 .header-filter {
    width: 349px;
  }
  header .header-content .col-6 .header-filter form {
    padding: 0px 10px;
    margin: 10px 10px;
  }
  header .header-content .col-6 .header-filter form select {
    height: 36px !important;
  }
  header .header-content .col-6 .header-filter form h3 {
    font-size: 21px !important;
  }
  header .header-content .col-6 .header-filter form .anns-btn {
    padding: 7px 26px 4px 26px !important;
  }
  header .header-content .col-6 .header-filter form .label {
    font-size: 13px;
  }
  footer {
    min-height: 870px;
  }
  footer::after {
    min-height: 870px;
  }
  footer #contact-col {
    order: 3;
  }
  footer #thanks-col {
    order: 1;
  }
  footer #spec-thanks-col {
    order: 2;
  }
  footer #jrc-col {
    order: 4;
  }
  footer .col-lg-3 {
    display: flex;
    justify-content: center;
  }
  footer .footer-logo img {
    margin-left: 0px;
  }
  footer .footer-logo .by-jrc {
    font-size: 12px;
  }
}

@media only screen and (max-width: 350px) {
  header .header-bar .header-bar-left.show {
    margin-left: 0 !important;
  }
  header .header-bar .header-bar-left.show .nav-link {
    font-weight: 500 !important;
    font-size: 12px !important;
  }
  header .header-bar .header-bar-center {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  header .header-bar .header-bar-right .login .nav-link-2 {
    text-transform: capitalize;
    line-height: 40px;
    font-size: 9px !important;
  }
  header .header-bar .header-bar-right .login .nav-link-2 img {
    display: none;
  }
  header nav .navbar-brand {
    width: 190px !important;
  }
  header nav .navbar-brand .nav-logo {
    width: 35px;
    height: 26px;
  }
  header nav .navbar-brand .page-name {
    font-size: 17px !important;
    padding-right: 0px;
  }
  header nav .button-nav {
    width: 55px;
  }
  header nav.nav-scroll .navbar-brand .page-name {
    font-size: 12px !important;
    padding-right: 0px;
  }
  header .header-content .col-6 .header-filter form {
    width: 260px !important;
  }
  footer {
    min-height: 800px;
  }
  footer::after {
    min-height: 800px;
  }
  footer h4 {
    font-size: 14px !important;
  }
  footer .thanks-foot div {
    font-size: 12px !important;
  }
  footer .thanks-foot img {
    width: 35px !important;
    height: 35px !important;
  }
  footer #spec-thanks-col {
    padding-left: 0px !important;
  }
  footer .contact .mobile {
    padding-left: 10px;
  }
  footer .contact .mobile span {
    font-size: 12px !important;
  }
}

#nav-mobile-1 {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #nav-mobile-1 {
    display: block !important;
    width: 280px;
    height: 100vh;
    background: rgba(23, 13, 41, 0.907);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100000000000000000000;
    transform: translateX(100%);
    transition: ease 0.7s;
    font-weight: 600;
    font-size: 18px;
    padding: 1rem 3rem 3.6rem 3.6rem;
  }
  #nav-mobile-1 .nav-close-btn {
    margin-bottom: 18px;
  }
  #nav-mobile-1 .nav-close-btn .close-btn {
    font-size: 30px;
  }
  #nav-mobile-1 .languages-bar {
    margin-left: 10px;
    margin-bottom: 25px;
    font-size: 13px;
  }
  #nav-mobile-1 .languages-bar .lang {
    margin-right: 20px;
  }
  #nav-mobile-1 .languages-bar .lang span {
    margin-left: 5px;
    color: #dddada !important;
  }
  #nav-mobile-1 .login {
    margin-bottom: 60px;
  }
  #nav-mobile-1 .login a {
    padding: 0 10px;
  }
  #nav-mobile-1 .navigation {
    margin-bottom: 50px;
    text-align: center;
  }
  #nav-mobile-1 .navigation .nav-link2 {
    font-size: 20px;
    border-bottom: 2px solid #dddada;
  }
  #nav-mobile-1 .icons-soc .menu {
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  #nav-mobile-1 .icons-soc .menu li {
    list-style: none;
  }
  #nav-mobile-1 .icons-soc .menu li a {
    color: #dddada;
    display: block;
    position: relative;
    overflow: hidden;
  }
  #nav-mobile-1 .icons-soc .menu li a span {
    transition: transform 0.2s ease-out;
  }
  #nav-mobile-1 .icons-soc .menu li a span:last-child {
    display: inline-block;
    padding: 0px 10px;
    font-size: 22px;
  }
  #nav-mobile-1 .icons-soc .menu li a span:first-child {
    font-weight: 550;
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-150%);
  }
  #nav-mobile-1 .icons-soc .menu li a span .fa-instagram-square {
    color: #ff6b6b;
  }
  #nav-mobile-1 .icons-soc .menu li a span .fa-facebook-square {
    color: #4267B2;
  }
  #nav-mobile-1 .icons-soc .menu li a span .fa-twitter-square {
    color: #1DA1F2;
  }
  #nav-mobile-1 .icons-soc .menu li a:hover {
    width: 82px;
  }
  #nav-mobile-1 .icons-soc .menu li a:hover span:last-child {
    transform: translateX(200%);
  }
  #nav-mobile-1 .icons-soc .menu li a:hover span:first-child {
    transform: none;
  }
  #nav-mobile-1 .text {
    text-align: center;
    color: #dddada;
    margin-bottom: 30px;
  }
  #nav-mobile-1.show {
    transform: translateX(0%);
    transition: ease 0.7s;
  }
}

#nav-mobile-2 {
  display: none;
}

@media only screen and (max-width: 992px) {
  #nav-mobile-2 {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: -100px;
    display: flex !important;
    z-index: 25;
  }
  #nav-mobile-2 .add-book {
    position: fixed;
    bottom: -45px;
    z-index: 26;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.4s;
  }
  #nav-mobile-2 .add-book a {
    border: none;
    color: #dddada;
    font-size: 11px;
    font-size: 11px;
    padding: 13px 15px 10px 15px;
    z-index: 5;
    font-weight: 500;
    background: #861703;
    position: relative;
    overflow: hidden;
  }
  #nav-mobile-2 .add-book a::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 2px;
    border-color: transparent transparent transparent #dddada;
    border-width: 18px 0 0 18px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  #nav-mobile-2 .add-book a::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    border-color: transparent #dddada transparent transparent;
    border-width: 0 18px 18px 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  #nav-mobile-2 .menu {
    border-top: 1px solid #b4b4b4;
    padding: 0px !important;
    background-color: #dddada;
    height: 80px;
  }
  #nav-mobile-2 .menu .icons-menu {
    display: flex;
    justify-content: space-around;
  }
  #nav-mobile-2 .menu .icons-menu .small-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #nav-mobile-2 .menu .icons-menu .small-menu .word {
    color: #727171;
  }
  #nav-mobile-2 .menu .icons-menu .small-menu i {
    margin-top: 20px;
    font-size: 25px;
    color: #727171;
  }
  #nav-mobile-2.nav-scroll2 {
    bottom: 0;
    transition: 0.4s;
  }
  #nav-mobile-2.nav-scroll2 .add-book {
    bottom: 67px;
    transition: 0.4s;
  }
}

#cat-mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #cat-mobile {
    z-index: 11111111111111111;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 280px;
    height: 100vh;
    background-color: #dddada;
    display: flex !important;
    flex-direction: column;
    transform: translateX(-100%);
    transition: ease 0.7s;
  }
  #cat-mobile .cat-close-btn {
    width: 100%;
    padding: 5px 15px 18px 0px;
  }
  #cat-mobile .cat-close-btn .close-btn {
    font-size: 30px;
    color: #110825 !important;
  }
  #cat-mobile .mob-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #cat-mobile .mob-categories .mob-category {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 14px;
    padding-left: 24px;
  }
  #cat-mobile .mob-categories .mob-category img {
    width: 50px;
    height: 50px;
  }
  #cat-mobile .mob-categories .mob-category .text {
    margin-left: 24px;
    font-weight: 700;
    font-size: 17px;
    color: #110825;
  }
}

@media only screen and (max-width: 350px) {
  #cat-mobile .mob-categories .mob-category img {
    width: 40px;
    height: 40px;
  }
  #cat-mobile .mob-categories .mob-category .text {
    margin-left: 14px;
    font-size: 14px;
  }
}

#cat-mobile.show {
  transform: translateX(0%);
  transition: ease 0.7s;
}
/*# sourceMappingURL=style.css.map */