.login {
    position: relative;
}

.dropdown-head {
    background-color: transparent;
    border: none;
    color: #dddada !important;
    padding: 0;
}

.dropdown-body-content {
    opacity: 0;
    display: none;
    list-style-type: none;
    pointer-events: visible;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 60px;
    left: 0;
    position: absolute;
}
.dropdown-head .nav-link-2 {
    min-width: 120px !important;
}
.validation-summary-errors ul{
    padding:0;
}
.dropdown-body-content .nav-link-2 {
    background-color: #dddada !important;
    color: #110825 !important;
    line-height: 40px !important;
    border-bottom: 1px solid rgba(17, 8, 37, 0.5);
}

        .dropdown-body-content .nav-link-2:hover {
            color: #a31901 !important;
        }

    .dropdown-body-content a {
        z-index: 1000000000000;
    }

.dr-show {
    opacity: 1;
    display: block;
}

/*Verify page*/
#SmallPage .email-approve {
    margin: 50px 0px;
    font-weight: 500;
    font-size: 16px;
    color: #110825
}

@media only screen and (max-width: 992px) {
    #SmallPage .email-approve {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media only screen and (max-width: 768px) {
    #SmallPage .email-approve .approve {
        padding: 20px
    }

        #SmallPage .email-approve .approve .approve-body {
            width: 85% !important
        }
}

@media only screen and (max-width: 576px) {
    #SmallPage .email-approve .approve-img img {
        height: 250px !important
    }

    #SmallPage .email-approve .approve {
        padding: 10px
    }

        #SmallPage .email-approve .approve .approve-body {
            width: 100% !important
        }
}

@media only screen and (max-width: 350px) {
    #SmallPage .email-approve .approve-img img {
        height: 220px !important
    }

    #SmallPage .email-approve .approve {
        padding: 5px
    }
}

#SmallPage .email-approve .approve-img img {
    height: 300px
}

#SmallPage .email-approve .approve {
    padding: 50px
}

    #SmallPage .email-approve .approve .approve-head {
        font-weight: 700;
        margin-top: 10px
    }

    #SmallPage .email-approve .approve .approve-body {
        text-align: center;
        margin: 10px 0px;
        width: 70%
    }

        #SmallPage .email-approve .approve .approve-body span {
            color: #861703
        }

    #SmallPage .email-approve .approve .approve-footer {
        margin-top: 20px
    }

        #SmallPage .email-approve .approve .approve-footer a {
            cursor: pointer;
            margin: 0px;
            border: none;
            color: #dddada;
            font-size: 16px;
            padding: 5px 20px 5px 20px;
            z-index: 5;
            font-weight: 500;
            background: #861703;
            position: relative;
            overflow: hidden
        }

            #SmallPage .email-approve .approve .approve-footer a::after {
                content: "";
                position: absolute;
                bottom: 2px;
                left: 2px;
                border-color: transparent transparent transparent #dddada;
                border-width: 18px 0 0 18px;
                width: 0;
                height: 0;
                border-style: solid
            }

            #SmallPage .email-approve .approve .approve-footer a::before {
                content: "";
                position: absolute;
                top: 2px;
                right: 3px;
                border-color: transparent #dddada transparent transparent;
                border-width: 0 18px 18px 0;
                width: 0;
                height: 0;
                border-style: solid
            }


/*Login html*/
.login-html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #dddada;
    margin:50px 0px;
}

    .login-html .log-part-modal {
        max-width: 500px
    }

    .login-html .content {
        background-color: rgba(23,13,41,1);
        height: 550px
    }

        .login-html .content .body {
            padding-top: 100px !important;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 60px
        }

@media only screen and (max-width: 576px) {
    .login-html .content .body {
        padding: 30px
    }
}

@media only screen and (max-width: 350px) {
    .login-html .content .body {
        padding: 15px
    }
}

.login-html .content .body form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 550
}

    .login-html .content .body form .form-check {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

        .login-html .content .body form .form-check input {
            width: 15px;
            margin-right: 10px
        }

    .login-html .content .body form button {
        margin-bottom: 5px;
        border: none;
        color: #dddada;
        font-size: 14px;
        padding: 0.5rem 2.1rem;
        z-index: 5;
        text-transform: uppercase;
        font-weight: 500;
        background: #861703;
        position: relative;
        overflow: hidden
    }

        .login-html .content .body form button::after {
            content: "";
            position: absolute;
            bottom: 2px;
            left: 1px;
            border-color: transparent transparent transparent #dddada;
            border-width: 20px 0 0 20px;
            width: 0;
            height: 0;
            border-style: solid
        }

        .login-html .content .body form button::before {
            content: "";
            position: absolute;
            top: 2px;
            right: 2px;
            border-color: transparent #dddada transparent transparent;
            border-width: 0 20px 20px 0;
            width: 0;
            height: 0;
            border-style: solid
        }

.login-html .content .body .reg-forgot {
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px
}

    .login-html .content .body .reg-forgot button {
        color: white;
        background-color: transparent;
        border: none;
        -webkit-transition: ease 0.4s;
        transition: ease 0.4s;
        padding: 0px 12px
    }

@media only screen and (max-width: 350px) {
    .login-html .content .body .reg-forgot button {
        padding: 0px 8px !important;
        font-size: 12px !important
    }
}

.login-html .content .body .reg-forgot button:hover {
    color: #a31901 !important;
    -webkit-transition: ease 0.4s;
    transition: ease 0.4s
}

.login-html .content .body .login-soc {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

    .login-html .content .body .login-soc a {
        margin-right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #dddada;
        text-align: center;
        padding: 15px 0px;
        color: #110825 !important
    }

        .login-html .content .body .login-soc a i {
            font-size: 22px
        }

@media only screen and (max-width: 350px) {
    .login-html .content .body .login-soc a {
        width: 40px !important;
        height: 40px !important;
        padding: 9px 0px !important
    }
}

/*Register html */
@media only screen and (max-width: 576px) {
    .mob-col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}
@media only screen and (max-width: 576px) {
    .login-html .content {
        height: auto !important
    }
}