
@{
    ViewData["Title"] = "Filter";
}

<!-- *-*-*-*-*-*-*-*-*      Filter Start      *-*-*-*-*-*-*-*-* -->
<section id="Filter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 form-filter">
                <form action="">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="select-form">
                                <label for="">Kateqori seç :</label>
                                <select class="sel-category">
                                    <option selected>Bütun Kateqorilər</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="select-form">
                                <label for="">Alt Kateqori seç :</label>
                                <select class="sel-child-category">
                                    <option selected>Bütun Elanlar</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="select-form">
                                <label for="">Şəhər seç :</label>
                                <select class="sel-village">
                                    <option selected>Bütun Şəhərlər</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="cost">
                                <div class="cost-lab">
                                    <label class="cost-label">Qiymət :</label>
                                </div>
                                <div class="min-max">
                                    <div class="col-lg-6 pl-0">
                                        <div class="form-group">
                                            <input type="number"
                                                   min="0"
                                                   max="9999999999"
                                                   placeholder="Min"
                                                   value="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pr-0">
                                        <div class="form-group">
                                            <input type="number"
                                                   min="0"
                                                   max="9999999999"
                                                   placeholder="Maks"
                                                   value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="select-form">
                                <label for="">Dil seç :</label>
                                <select class="sel-village">
                                    <option selected>Bütun Dillər</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="">Ətraflı Axtar :</label>
                                <input type="text" placeholder="Mən Axtarıram" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="search-btn">
                                <button type="submit">Axtar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- *-*-*-*-*-*-*-*-*      Filter End      *-*-*-*-*-*-*-*-* -->
<!-- ---------------------------------------------------------- -->
<!-- *-*-*-*-*-*-*-*-*      Last Books Start      *-*-*-*-*-*-*-*-* -->
<section id="Books">
    <div class="container pad-top80">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <div class="section-head">
                    <h1>Kitablar</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @await Component.InvokeAsync("Books")
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center my-5 loadMore">
                <a href="">Dahasına Bax</a>
            </div>
        </div>
    </div>
</section>
<!-- *-*-*-*-*-*-*-*-*      Last Books End      *-*-*-*-*-*-*-*-* -->
<!-- ---------------------------------------------------------- -->


@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}
@section SelectHolder1{
    <partial name="_SelectHolder1" />
}
@section SelectHolder2{
    <partial name="_SelectHolder2" />
}